/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 h1{
    color: #A52A2A;
    margin-left: 372px;
}
html{
    font-family: sans-serif;
}
body{ 
    background-color: black;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.pomodoro-estimate{
    font-weight: bold;
    color: #A52A2A;
}
a, p{
    color: yellow;
    font-size: 40px;
}
ul{
    margin-left: 372px;
}
li {
    padding: 10px;
}
