<h1>Workshop Todo List</h1>
        <ul>
            <li>
                <a href="/todo/show/1"> make the curriculum </a>
                <span class="pomodoro-estimate">4 pomodoros</span>
            </li>
            
            
            <li>    
                <a href="/todo/show/2">buy groceries</a>   
                <span class="pomodoro-estimate">2 pomodoros</span>
            </li>
            
            <li><a href="/todo/show/3"> meet with volunteer trainer</a></li>
            <li><a href="/todo/show/4"> buy food for Saturday an Sunday</a></li>
            <li><a href="/todo/show/5"> check pre-work assignments</a></li>
            <li><a href="show.html"> send workshop location to all students</a></li>
            <li><a href="show.html"> have a great workshop</a></li>
        </ul>
        <a href="new.html"> add todo</a>